name: auto create repo
on:
  pull_request_target:
    types: [opened, synchronize, closed]
    paths:
      - "repos.yml"

env:
  APP_ID: 229710
  APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}

jobs:
  create_repo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - name: install depends
        if: github.event.pull_request.merged
        run: |
          sudo apt-get install curl    
      - name: install depends for load scripts
        run: |
          npm install @octokit/rest
          npm install @octokit/auth-app
      - name: Get token using github-script
        id: get-token
        uses: actions/github-script@v6
        with:
          script: |
            const { Octokit } = require("@octokit/rest");
            const { createAppAuth } = require("@octokit/auth-app");
            const appOctokit = new Octokit({
              authStrategy: createAppAuth,
              auth: {
                appId: process.env.APP_ID,
                privateKey: process.env.APP_PRIVATE_KEY,
              }
            });
            const app_installation = await appOctokit.rest.apps.getRepoInstallation({
              owner: context.payload.organization.login,
              repo: context.payload.repository.name
            });
            const { token } = await appOctokit.auth({
              type: "installation",
              installationId: app_installation.data.id
            });
            core.setOutput('app_token', token)
      - name: create_repo
        if: github.event.pull_request.merged
        id: create_repo
        shell: python
        env:
          GITHUB_TOKEN: ${{ steps.get-token.outputs.app_token }}
        run: |
          import requests
          import yaml
          import os
          import logging

          header = {
              "Accept": "application/vnd.github+json",
              "Authorization":"Bearer " + os.environ.get("GITHUB_TOKEN")
          }
          create_repo_url = 'https://api.github.com/repos/deepin-community/template-repository/generate'

          def read_yml():
              with open("repos.yml", "r+") as intergration_file:
                  return yaml.load(intergration_file, Loader=yaml.BaseLoader)
          def check_repo(repo):
              res = requests.get("https://api.github.com/repos/deepin-community/{repo}".format(repo=repo))
              if res.status_code == 200:
                  return repo
          def create_repo(repo):
              data_repo = {
                      'owner':'deepin-community',
                      'name': repo
                      }
              res = requests.post(create_repo_url, json = data_repo, headers = header) 
          try:
              data = read_yml()
              for repo in data.get("repos"):
                  if check_repo(repo.get('repo')) == None:
                      create_repo(repo.get('repo'))
          except BaseException as e:
              logging.error(e)
              exit(-10)         
